version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: workhub-app
    ports:
      - "8888:8080"
    extra_hosts:
      - "biostar2:192.168.11.89"
    command: ["/wait-for-db.sh", "mysql", "dotnet", "ef", "database", "update"]
    depends_on:
      - mysql
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=mysql;Port=3306;Database=mydb;User=root;Password=Admin@123"
    # restart: on-failure
    volumes:
      - upload_data:/app/wwwroot/uploads

  mysql:
    image: mysql:8
    container_name: workhub-mysql
    environment:
      MYSQL_ROOT_PASSWORD: Admin@123
      MYSQL_DATABASE: mydb
    ports:
      - "13306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: workhub-phpmyadmin
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: Admin@123
    ports:
      - "18080:80"
    # restart: unless-stopped

volumes:
  mysql_data:
  upload_data:
