@import "modern-normalize/modern-normalize.css";

:root {
  --color-primary: #0284c7;
  --color-bg: #e9eef6;
  --color-text: #222;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-bg);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  border-radius: 5px;
}
