.notification-table .ant-table {
  border-radius: 0;
}

.notification-table__row:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px inset,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px inset;
}

.notification-table__row:hover .ant-table-cell-row-hover {
  background-color: transparent !important;
}

.notification-table__row.unread {
  background-color: #f1f1f1 !important;
  cursor: pointer;
}
