.leave-request-panel .card {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto 0;
  font-family: Arial, Helvetica, sans-serif;
}

.leave-request-panel .card img {
  width: 100px;
}

.leave-request-panel .card h3 {
  font-size: 25px;
  font-weight: 600;
}

.leave-request-panel .card label {
  font-size: 18px;
}

.leave-request-panel .card label + p {
  margin-top: 0;
}

.leave-request-panel .card p {
  margin: 0.75rem 0;
  font-size: 16px;
}
